#root, html, body {
    margin: 0;
    padding: 0;
    height:100vh;
    box-sizing: border-box;
}
.app{
    height:100%;
    /* background:url('./images/mailbox.jpg'); */
    background-color:aquamarine;
    background-size:auto;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.card{
    background-color:rgb(223, 247, 3);
    width: 60%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;
    shape-outside: none;
}
.heading{
    display: felx;
    align-items: center;
    height: 580px;
    font-family: 'Playfair Display', serif;
}
.button span{
    color:black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.7px;
}
.button:hover{
    background-color:aqua;
    ;
}
.button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    opacity: 1;
    border: 1px solid burlywood;

}
@media only screen and (max-width:600px){
    .card {
        width: 80%;
        height: 30%;
    }
}
