#root, html, body {
    margin: 0;
    padding: 0;
    height:100vh;
    box-sizing: border-box;
}
.app{
    height:100%;
    background:url('./images/mailbox.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

}
.card{
    background-color:rgb(111, 113, 112);
    width: 60%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:  20px;
    padding: 3%;
    /* box-shadow: 10px 10px; */
    border: 10px solid gold;
}
.heading{
    color: rgb(243, 252, 252);
    height: max-content;
    display: felx;
    display: contents;
    align-content:stretch;
    height:100%;
    font-family: 'Playfair Display', serif;
}
.button span{
    color:rgb(20, 21, 22);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.7px;
}
.button:hover{
    background-color:rgb(249, 229, 229);
    cursor:pointer;
    transition-duration: 0.4s;
}
.button {
    color: olive;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    padding: 20px;
    opacity: 1;
    border: 1px solid rgb(25, 24, 24);

}
@media only screen and (max-width:600px){
    .card {
        width: 80%;
        height: 30%;
    }
}
